body{
    background-color:navy;
    color: white;
}
.bar{
    display:flex; 
    position:sticky;
    padding: 5px 5px;
    justify-content:flex-start;
    background-size:contain;
    background-color: rgb(196, 152, 238);
    overflow: hidden;
}
.bar a{
    text-align: left;
    padding: 11px 10px;
    font-size: 16;
    color: white;
    text-decoration: none;
}
.bar a:hover{
    background-color:white;
    color: black;
}
